@import "uikit.min";
@import "mediaplayer.min";
@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');


body {
  color: white;
  font-family: 'Playfair Display', serif;
  //background-image: url("../img/blackrose2.png");
  //background-repeat: no-repeat;
  //background-size: cover;
  background-color: #6E0F14;
}

main.uk-grid {
  padding-left: 30px;
}

// Lettering
.char1 {
  font-size: 1.25em;
}

.char16 {
  font-size: 1.25em;
}

.char8, .char9, .char10, .char12, .char13, .char14 {
  font-size: 0.65em;
}

//Corey Elliot: Codepen
header h1 {
  animation: slideIn 10s 2s ease both;
}

@keyframes slideIn {
  0% {opacity: 0;
    transform: translate(-100%, 0);
  }
  
  25% {opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes drop {
  0% {transform: translate(0,0);}
  50% {transform: translate(0,142px);}
  100% {transform: translate(0,142px);}
}


h5, p {
  font-family: 'Playfair Display', serif;
  color: white;
}

h1 {
  font-size: 8em;
  padding-top: 6%;
  font-family: 'Cookie', cursive;
  color: #202020;
  color: white;
}

h2 {
  font-family: 'Cookie', cursive;
  color: white;
  font-size: 3em;
}

h5 { 
  font-size: 1.25em;
  line-height: 4%;
}

article p {
  font-size: 1.1em;
  width: 75%;
}

li {
  font-size: 1.15em;
}

.deets {
  margin-top: 70px;
  margin-bottom: 70px;
}

ul {
  list-style-type: none;
}

ul img {
  padding: 4px;
}


.moviedetails {
  padding-left: 2%;
  padding-right: 2%;
}

.starring {
  padding: 2%;
}

.footer {
  padding: 60px;
}





